<mat-toolbar color="primary">Timeline</mat-toolbar>
<mat-nav-list (mousemove)="mouseMove($event)">
  <h3 mat-subheader>Layers</h3>
    <mat-list-item *ngFor="let layer of layers$ | async as layers" (click)="selectLayer(layer.id)">
      <mat-icon mat-list-icon>radio_button_unchecked</mat-icon>
      <h4 mat-line><strong>{{ layer.id }}:</strong> {{ layer.name }}</h4>
      <!-- <p mat-line>{{ layer.tag + layer.id + layer.class }}</p> -->
      <!-- <sqns-layer [selected]="(selectedLayerId$ | async) === layer.id"></sqns-layer> -->
      <sqns-layer [selected]="selectedLayerId === layer.id"></sqns-layer>
    </mat-list-item>
</mat-nav-list>
<sqns-layer-controls
  [removeDisabled]="selectedLayerId === null"
  (addLayer)="addLayer()"
  (removeLayer)="removeLayer(selectedLayerId)">
</sqns-layer-controls>
<sqns-timeline-marker [position]="markerPosition"></sqns-timeline-marker>
